*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.tab--container{
    width: 790px;
    margin: 0 auto;
}
.tab-header{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #ccc;
    gap: 10px;
    font-weight: 599;
    /* padding: 10px; */
    /* background-color: #f1f1f1; */
}
.tab-header div{
    padding: 10px 15px;
    /* border: 1px solid #ccc; */
    cursor: pointer;
    color: #444;
    /* background-color: #f1f1f1; */
    border-bottom: 2px solid transparent;
}
.header-active, .tab-header div:hover{
    color: blue !important;
    border-bottom: 2px solid blue !important;
}
.tab-content div{
    display: none;
    margin-top: 20px;
    padding: 10px 15px;
    color: #555;
    /* border: 1px solid #ccc; */
    cursor: pointer;
    /* background-color: #f1f1f1; */
}
strong{
    color: #333;
}
.tab-content .active{
    display: block;
}