*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion{
    width: 100%;
    max-width: 760px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.accordion-item{
    /* border-bottom: 1px solid #e0e0e0; */
}
.accordion-item:last-child{
    border-bottom: none;
}
.accordion-header{
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}
.accordion-header h3{
    font-size: 18px;
    font-weight: 500;
    color:rgba(24, 24, 210, 0.713);
}
.accordion-content{
    padding: 15px;
    display: none;
    border-bottom: 1px solid #e0e0e0;
}
.accordion-content p{
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.922);
}
svg{
    height: 25px;
    width: 25px;
}
.active{
    display: block;
}
span{
    color:rgba(255, 0, 0, 0.813);
}